<div class="card mb-3">
  <img src="https://via.placeholder.com/1108x233.png?text=imagen" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Programa para el apoyo en el proceso enseñanza aprendizaje de los estudiantes de
      ingeniería de sistemas, una vez registrado el estudiante debe seleccionar una a una las
      áreas a estudiar como apoyo al proceso de formación, estas áreas</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Active Server Pages (ASP).</li>
      <li class="list-group-item">Machine Learning</li>
      <li class="list-group-item">Big Data</li>
      <li class="list-group-item">Minería de datos</li>
      <li class="list-group-item">AWS, (Amazon Web Services)</li>
    </ul>
  </div>
</div>

<!-- https://via.placeholder.com/1108x233.png -->
<!-- https://www.unad.edu.co/images/unad_2020/abril/diplomadosbannerweb-100.jpg -->
