<!-- Footer -->
<footer class="footer-main py-4 small mt-auto bg-dark">

  <!-- Footer Elements -->
  <div class="container d-flex justify-content-around">

    <!-- Social buttons -->
    <div class="d-flex justify-content-center">
      <a class="d-inline-flex mx-3 justify-content-center align-items-center text-white rounded-circle shadow btn btn-facebook"
        href="https://www.facebook.com">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="d-inline-flex mx-3 justify-content-center align-items-center text-white rounded-circle shadow btn btn-twitter"
        href="https://www.facebook.com">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="d-inline-flex mx-3 justify-content-center align-items-center text-white rounded-circle shadow btn btn-github"
        href="https://www.facebook.com">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Social buttons -->
    <!-- Copyright -->
    <div class="text-center pb-3">© {{ test | date: "yyyy" }} Copyright:
      <a href="https://unad.edu.co/"> Unad.edu.co</a>
    </div>
    <!-- Copyright -->

  </div>
  <!-- Footer Elements -->



</footer>
<!-- Footer -->
